<div class="section"></div>

<div class="row">
  <div class="col s12 center-align">
    <%= material_icon.face.style('font-size: 200px;') %>
    <h1>
      Profile not found: <i><%= params[:username] %></i>
    </h1>
    <p class="flow-text">Profile could not be found. It might not exist, it might have been deleted, or its visibility might be restricted.</p>
  </div>
</div>

<div class="section"></div>
