<%= form_tag(accept_friendship_request_path(user), method: "post") do %>
  <button class="as_link with_icon" type="submit" name="action">
    <i class="mdi mdi-account-check"></i>
    Accept
  </button>
<% end %>
