<div class="friendship_action action_wrapper">

  <%= form_tag(add_friend_path(new_friend), method: "post") do %>
    <button class="primary-color primary-color-text btn waves-effect waves-light" type="submit" name="action">
      <i class="mdi mdi-account-plus left"></i>
      Add Friend
    </button>
  <% end %>

</div>
