<%= form_tag(add_friend_path(new_friend), method: "post") do %>
  <button class="btn waves-effect waves-light" type="submit" name="action">
    <i class="mdi mdi-account-plus"></i>
    Send Friend Request
  </button>
<% end %>
