<%= link_to reject_friendship_request_path(recipient), class: 'waves-effect waves-light btn sliding', method: :delete, data: { confirm: 'Are you sure?' } do %>
  <span>
    <i class="mdi mdi-call-made left"></i>
    Friend Request Sent
  </span>
  <span>
    <i class="mdi mdi-cancel left"></i>
    Revoke Request
  </span>
<% end %>
