<div class="page_heading z-depth-1">
  <h3>Conversations</h3>
</div>

<div class="section"></div>

<div class="conversation_preview_wrapper">
  <div class="new_conversation">
    <%= link_to new_private_conversation_path, class: 'open_conversation' do %>
      <div class="row no_margin_bottom">
        <div class="col s2 m2 l1 center-align">
          <%= image_tag "community/add.png", class: 'responsive-img' %>
        </div>
        <div class="col s10 m10 l11">

          <strong>
            New conversation...
          </strong>
          <br/>
          Start a conversation with a friend.

        </div>
      </div>
    <% end %>
  </div>

  <%= render(@private_conversations) %>
</div>

<div class="section"></div>
