<div class="private_conversation">

  <div class="page_heading z-depth-1">
    <h3>Conversation with <%= list_participants @private_conversation.participants %></h3>
  </div>

  <div id="chat_body">
    <div class="section"></div>

    <%= render @private_conversation.messages.select {|msg| msg.persisted?}.reverse %>

    <div class="section"></div>
  </div>

  <div id="compose_message" class="z-depth-1">
    <div class="section"></div>

    <%= render partial: 'form', locals: {
      private_conversation: @private_conversation,
      private_message: @private_message} %>
  </div>

</div>
