<%= render partial: "shared/side_navigation/head",
  locals: {
    link_destination: profile_path(@current_user),
    background:       asset_path('dawn.jpg'),
    image:            @current_user.profile_picture.url,
    title:            @current_user.name
  }
%>

<%= nav_link "Friend Requests", friendship_requests_received_path, {:icon => "account-plus"} %>

<%#
# Communities/Decision-Making is disabled while we're focusing on completion
# of MVP
= nav_link "<span class='content'>Communities</span>".html_safe, communities_path %>
