<div class="head">

  <%= image_tag "dawn.jpg", class: 'responsive-img' %>

  <%= link_to profile_path(@current_user), class: 'title waves-light waves-effect' do %>
    <%= @current_user.name %>
  <% end %>

</div>

<div class="content">

  <%= nav_link "<span class='content'>Communities</span>".html_safe, communities_path %>

</div>
