<%= form_for vote do |f| %>
  <%= f.hidden_field :votable_type %>
  <%= f.hidden_field :votable_id %>
  <%= f.hidden_field :vote, :value => "upvote" %> %>
  <button id="upvote_decision" class="waves-effect waves-light btn-floating btn-large green" type="submit" name="action">
    <i class="mdi mdi-thumb-up"></i>
  </button>
<% end %>
