<%= form_tag(like_path(:likable_id => object.id, :likable_type => object.model_name.to_s), class: 'like_button sliding', method: "post") do %>
  <button class="btn-flat waves-effect waves-light" type="submit" name="action">
    <span>
      <%= material_icon.thumb_up.css_class('left') %>
      <%= object.likes_count || 0 %>
    </span>
    <span>
      LIKE
    </span>
  </button>
<% end %>
