<% content_for :like_button, flush: true do %>
  <button class="btn-flat btn-small waves-effect waves-light" type="submit" name="action">
    <i class="mdi mdi-thumb-up left"></i>
    <%= likes_without_user %>
  </button>
<% end %>

<% content_for :unlike_button, flush: true do %>
  <button class="btn-flat btn-small waves-effect waves-light" type="submit" name="action">
    <i class="mdi mdi-thumb-up left highlight-color-text text-color-contrast"></i>
    <%= likes_without_user + 1 %>
  </button>
<% end %>
