<div class="unlike_button minimal">
  <%=
    link_to unlike_path(:likable_id => object.id, :likable_type => object.class.base_class.to_s),
      method: :delete,
      class: 'btn-flat btn-small waves-effect waves-light' do %>
      <i class="mdi mdi-thumb-up left highlight-color-text text-color-contrast"></i>
      <%= object.likes_count || 0 %>
  <% end %>
</div>
