<%=
  form_tag(
    unlike_path(:likable_id => object.id, :likable_type => object.class.base_class.to_s),
    method: :delete,
    class: 'unlike_button minimal'
  ) do %>
    <button class="btn-flat btn-small waves-effect waves-light" type="submit" name="action">
      <i class="mdi mdi-thumb-up left highlight-color-text text-color-contrast"></i>
      <%= object.likes_count || 0 %>
    </button>
<% end %>
