<div class="edit_action action_wrapper">

  <%= link_to edit_user_path(@user), class: "primary-color primary-color-text btn waves-effect waves-light" do %>
      <i class="mdi mdi-pencil left"></i>
      Edit
  <% end %>

</div>
