<h1>Please Confirm Your registration</h1>

<p>You have not yet confirmed your registration. To do so, click on the
  'Confirm Registration' button in an email that we sent you.</p>

<p>If you would us to re-send you that email, click the button below.</p>

<%= form_tag resend_confirmation_registration_path, id: 'resend_confirmation_registration', remote: true do %>

  <button class="btn waves-effect waves-light red" type="submit" name="action">
    <i class="material-icons left">send</i>
    Re-send Confirmation Email
  </button>

<% end %>
