<h1>Error!</h1>
<p>
  We were unable to confirm your registration. Your registration token might
  have expired. <%= link_to "When you log in", login_path %>, you will have the opportunity to request a
  new registration token.
</p>
