<div class="friendship_action action_wrapper">

  <%= dropdown_button(
  "friendship-#{friend.username}",
  {
    :trigger => {
      class: "primary-color primary-color-text waves-effect waves-light btn",
      content: '<i class="mdi mdi-account-check left"></i> Friends'.html_safe
    },
  }) do %>
    <li>
      <%= form_tag(end_friendship_path(friend), method: :delete, data: { confirm: "Are you sure you want to end your friendship with #{friend.name}?"}) do %>
        <button type="submit" class="text-primary-color" name="action">
          <i class="mdi mdi-account-remove left"></i>
          End Friendship
        </button>
      <% end %>
    </li>
  <% end %>

</div>
