<%= link_to end_friendship_path(friend), class: 'waves-effect waves-light btn sliding', method: :delete, data: { confirm: 'Are you sure?' } do %>
  <span>
    <i class="mdi mdi-account-check left"></i> Friends
  </span>
  <span>
    <i class="mdi mdi-account-remove left"></i>
    Unfriend
  </span>
<% end %>
