<div class="row private_message">

  <div class="col s12 center-align message">
    <div class="content primary-color primary-color-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="<%= Time.zone.now %>">
      <p>The conversation has been deleted.</p>
    </div>
  </div>

</div>
