<%
  # Get the sender of the message
  sender = private_message.conversation.participants.find{|p| p.id == private_message.sender_id}
%>

<div class="message <%= sender.eql?(@current_user) ? 'sent' : 'received' %>">
  <div class="dot <%= sender.color_scheme %>"></div>
  <div class="content <%= sender.color_scheme_with_font_color %>">
     <%= private_message.content %>
  </div>
</div>
