<div class="private_conversation" style="display:block; padding: 10px 30px; background-color:lightblue; margin-bottom: 20px;">

  <p>From <%= render_sender_profile private_message %>
  <p><%= private_message.content %></p>

</div>
