</div>
<div class="container-fluid red darken-4 white-text">
  <div class="section container">
    <h1>Communities</h1>
  </div>
</div>

<div class="container">

<div class="collection">
  <% @communities.each do |community| %>
    <%= link_to community.name, community_path(community), class: 'collection-item' %>
  <% end %>
</div>
