<div class="section"></div>

<div class="row">
  <div class="col s12 center-align">
    <i class="mdi mdi-emoticon-neutral mdi-spin-slow" style="font-size: 200px;"></i>
    <h1>Error 404</h1>
    <p class="flow-text">Oh no... Looks like this page doesn't exist (anymore)!</p>
  </div>
</div>

<div class="section"></div>
