<div class="section"></div>

<div class="row">
  <div class="col s12 center-align">
    <%= material_icon.error.style('font-size: 200px;') %>
    <h1>Error 422</h1>
    <p class="flow-text">Hmm... There was a problem processing your request. Please try again!</p>
  </div>
</div>

<div class="section"></div>
