<div style="width: 100%; background-color: lightgray;">

<p>
  <strong>
    <%= post.author.name %>
    wrote on
    <%= link_to render_timestamp(post.created_at), post, :title => "Show post on a separate page" %>
  </strong>
</p>

<p>
  <%= post.content %>
</p>

<% if post.can_be_deleted_by?(@current_user) %>
  <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</div>
