// MaterializeCSS
@import "materialize/components/color";
// modify colors here
// $primary-color: color("blue", "lighten-2") !default;
// ...
$primary-color: color("red", "base");
$secondary-color: $primary-color;
$input-focus-color: color("grey", "darken-4") !default;
@import 'materialize';
@import "materialize/extras/nouislider";
@import "materialize_fix";

// Material Icons
@import "integrations/material_design_icons/materialdesignicons";

// App Stylesheets
@import "infinity_scroll";
@import "side_navigation";
@import "static";
@import "post_and_comment";
@import "like";
@import "profile";
@import "private_conversation";
@import "private_message";
@import "democracy/community/decision";


// GENERAL

// GENERAL: start off hidden
.init-hidden {
  display: none;
}

// GENERAL: removes bottom spacing
.no_margin_bottom {
  margin-bottom: 0px !important;
}

// GENERAL: removes top spacing
.no_margin_top {
  margin-top: 0px !important;
}


// GENERAL: removes all margins
.no_margin {
  margin: 0px !important;
}

// GENERAL: removes all padding
.no_padding {
  padding: 0px !important;
}

// GENERAL: removes left padding
.no_padding_left {
  padding-left: 0px !important;
}

// GENERAL: removes right padding
.no_padding_right {
  padding-right: 0px !important;
}

// GENERAL: limit parallax height to 300px
.parallax-container {
  height: 300px;
}

// GENERAL: limit parallax height to 300px
.parallax-container {
  height: 300px;
}

// GENERAL: main content z-index is lower than side nav
div.col.main {
  z-index: 5;
}

// COLOR

// COLOR: applies primary color as background
.primary_color {
  background-color: $primary-color !important;
}

// COLOR: applies primary color as text
.primary_color_text {
  color: $primary-color !important;
}

// COLOR: applies highlight color (secondary color)
.highlight-text {
  color: $secondary-color !important;
}

// NAVIGATION

// NAVIGATION: Fluid has spacing that matches side nav and FAB
nav > div.container-fluid > .row > .col.s12 {
  padding: 0px 16px;
}

// NAVIGATION: Brand logo fits height
nav .brand-logo img {

  @media #{$small-and-down} {
    height: 42px;
  }
  @media #{$medium-and-up} {
    height: 50px;
  }

  width: auto;
  margin-top: 7px;
  margin-right: 10px;
  float: left;
}

// NAVIGATION: force 48px high icons on side nav
nav ul.side-nav li a > i.mdi {
  line-height: 48px;
  height: 48px;
  margin: 0px 16px 0px 0px;
}

// NAVIGATION: 64px tall on desktop
nav ul:not(.side-nav) li {
  height: 64px;
}

// NAVIGATION: Badges on icons
nav ul:not(.side-nav) li a i+span.badge {
  display: block;
  float: right;
  position: relative;
  top: -55px;
  left: 10px;
  line-height: 1;
  padding: 3px 5px;
  min-width: unset;
  margin-bottom: -55px;
  border-radius: 2px;
}

@media #{$large-and-up} {

  // NAVIGATION: Set high z-index (to be above page headings)
  nav#main_navigation {
    position: relative;
    z-index: 100;
  }

  // NAVIGATION: Option for fixed, sticky nov
  nav#main_navigation.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
  }
}


// ELEMENTS

// PAGE HEADING: a page heading below the navigation
div.page_heading {
  @media #{$large-and-up} {
    background: white;
    left: 0px;
    width: 150%;
    z-index: 80;
    width: 152.5%;
    padding-left: 39%;
    padding-right: 13.33333%;
    margin-left: -39%;
    position: relative;
    h1, h2, h3, h4, h5, h6 {
      display: inline-block;
    }
  }

  @media #{$medium-and-down} {
    position: relative;
    padding: 0 0.75rem;
    margin: 0 -0.75rem;
    h1, h2, h3, h4, h5, h6 {
      padding: 2.1rem 0 1.68rem 0;
      margin: 0px;
      text-align: center;
    }
  }
}

// when fullscreen
body.fullscreen div.page_heading {
  @media #{$large-and-up} {
    position: fixed;
    background: white;
    left: 0px;
    width: 100%;
    z-index: 80;
    padding-left: 25%;
    padding-right: 8.33333%;
    margin-left: 0px;
    top: 64px;
    max-height: 120px;
    overflow-y: auto;

    h1, h2, h3, h4, h5, h6 {
      padding-left: .75rem;
      padding-right: .75rem;
    }
  }
}


// ANCHORS & LINKS

// ANCHOR: position button correctly
a.with_icon > i.mdi,
button.as_link.with_icon > i.mdi {
  position: relative;
  top: 5px;
  margin-top: -7px;
}

// BUTTONS

// Buttons: Button with sliding effect
a.btn.sliding,
button.btn.sliding {
  span {
    display: block;
    transition: transform .3s ease-in-out;
  }

  &:hover, &:focus {
    span {
      transform: translateY(-36px);
    }
  }

}

// BUTTONS: Hover effect on flat buttons
button.btn-flat.waves-effect:hover,
a.btn-flat.waves-effect:hover,
button.btn-flat.waves-effect:focus,
a.btn-flat.waves-effect:focus {
  background-color: color("grey", "lighten-3");
}

// BUTTONS: Creates a fake, non-clickable button
div.fake_button {
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
}

// BUTTONS: Creates a button that looks like a link
button.as_link {
  background: none;
  border: none;
}

// BUTTONS: Small button
button.btn-small,
a.btn-small {
  padding: 0 1rem;
}

// CARDS

// CARDS: render forms as links
.card .card-action > form {

  display: inline-block;
  margin-right: 20px;

  & > button {
    color: #ffab40;
    transition: color .3s ease;
    text-transform: uppercase;

    &:hover {
      color: #ffd8a6;
    }
  }
}

// CARDS: light border
.card .card-action.light_border {
  border-color: transparentize(color("grey", "lighten-5"), .5);
}

// FORMS

// FORMS: List of errors
form label + ul.errors {
  @extend .red-text;
  font-size: 0.8rem;
  padding-left: 10px;
  margin: 0px;
  margin-top: -15px;
  margin-bottom: 20px;
  display: block;
}

// FIXES

// FIXES: parallax has a white space on the left
.parallax-container .parallax {
  left: -1px;
}
