// MaterializeCSS
@import "materialize/components/color";
// modify colors here
// $primary-color: color("blue", "lighten-2") !default;
// ...
$primary-color: color("red", "base");
$secondary-color: $primary-color;
$input-focus-color: color("grey", "darken-4") !default;
@import 'materialize';
@import "materialize/extras/nouislider";
@import "materialize_fix";

// Material Icons
@import "integrations/material_design_icons/materialdesignicons";

// App Stylesheets
@import "cards";
@import "color_scheme";
@import "democracy/community/decision";
@import "infinity_scroll";
@import "like";
@import "notification";
@import "post_and_comment";
@import "private_conversation";
@import "private_message";
@import "profile";
@import "side_navigation";
@import "static";

// GENERAL

// GENERAL: start off hidden
.init-hidden {
  display: none;
}

// GENERAL: removes bottom spacing
.no_margin_bottom {
  margin-bottom: 0px !important;
}

// GENERAL: removes top spacing
.no_margin_top {
  margin-top: 0px !important;
}


// GENERAL: removes all margins
.no_margin {
  margin: 0px !important;
}

// GENERAL: adds 15px of bottom margin
.margin_bottom_15 {
  margin-bottom: 15px;
}

// GENERAL: removes all padding
.no_padding {
  padding: 0px !important;
}

// GENERAL: removes left padding
.no_padding_left {
  padding-left: 0px !important;
}

// GENERAL: removes right padding
.no_padding_right {
  padding-right: 0px !important;
}

// GENERAL: main content z-index is lower than side nav
div.col.main {
  z-index: 5;
}

// rounds off the edges
.rounded {
  border-radius: 5px;
}

// DROPDOWN

// DROPDOWN: Text should always be black
.dropdown-content li > a,
.dropdown-content li > span {
  color: $off-black;
}

// DROPDOWN: No pointer events on disabled list items
.dropdown-content li.disabled {
  pointer-events: none;
  cursor: default;
}

// DROPDOWN: Apply styling to forms and links in dropdown
.dropdown-content li > a,
.dropdown-content li > form > button[type="submit"] {
  font-size: 16px;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

// DROPDOWN: Mask submit buttons in forms
.dropdown-content li > form > button[type="submit"] {
  outline: none;
  box-shadow: none;
  border: none;
  background: inherit;
}

// Remove float from icons in buttons to get alignment correct
.dropdown-content li > form > button > i.mdi.left,
.dropdown-content li > a > i.mdi.left {
  float: none !important;
  margin: 0px 10px 0px 0px;
  height: inherit;
  line-height: inherit;
}

// Disabled dropdown options
.dropdown-content li.disabled {
  & > a, & > form > button {
    color: $button-disabled-color;
    background-color: $button-disabled-background;
    pointer-events: none;
  }
}

// NAVIGATION

// NAVIGATION: Fluid has spacing that matches side nav and FAB
nav > div.container-fluid > .row > .col.s12 {
  padding: 0px 16px;
}

// NAVIGATION: Brand logo has same padding as links in nav bar
nav .brand-logo {
  padding: 0px 15px;
}

// NAVIGATION: Brand logo fits height
nav .brand-logo img {

  @media #{$small-and-down} {
    height: 42px;
  }
  @media #{$medium-and-up} {
    height: 50px;
  }

  width: auto;
  margin-top: 7px;
  margin-right: 10px;
  float: left;
}

// NAVIGATION: force 48px high icons on side nav
nav ul.side-nav li:not(.head-wrapper) a {
  & > i.mdi, & > img {
    line-height: 48px;
    height: 48px;
    margin: 0px 16px 0px 0px;
  }
  & > img {
    padding: 12px 0px;
  }
}

// NAVIGATION: 64px tall on desktop
nav ul:not(.side-nav) li {
  height: 64px;
}

// NAVIGATION: pad the icons
nav ul:not(.side-nav) li a {

  padding: 20px 15px;
  line-height: 24px;

  i.mdi, img {
    display: block;
    line-height: 24px;
    height: 24px;
  }

  &:hover {
    text-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

    img {
      box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    }
  }
}

// NAVIGATION: Badges on icons
nav ul:not(.side-nav) li a i+span.badge {
  display: block;
  float: right;
  position: relative;
  top: -35px;
  left: 10px;
  line-height: 1;
  padding: 3px 5px;
  min-width: unset;
  margin-bottom: -55px;
  border-radius: 2px;
}

@media #{$large-and-up} {

  // NAVIGATION: Set high z-index (to be above page headings)
  nav#main_navigation {
    position: relative;
    z-index: 100;
  }

  // NAVIGATION: Option for fixed, sticky nov
  nav#main_navigation.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
  }
}

// NAVIGATION SEARCH

// NAVIGATION SEARCH: do not slide up search icon on active
#search label {
  transform: none !important;
}

// NAVIGATION SEARCH: no pointer events on close icon when not active
#search input:not(:focus) ~ i.close {
  pointer-events: none;
  color: transparent;
}

// NAVIGATION SEARCH: style the close icon
#search i.close {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
  color: #444;
}

// NAVIGATION SEARCH: z-depth on focus
#search input:focus {
  @extend .z-depth-5;
}

// NAVIGATION SEARCH: opaque label if not active
#search input:not(:focus) ~ label:not(.active) {
  opacity: .7;
}

// NAVIGATION SEARCH: inherit color
#search label,
#search label i {
  color: inherit;
}

// NAVIGATION SEARCH: dark text on focus
#search input:focus ~ label i,
#search input:focus {
  color: black !important;
}

// NAVIGATION SEARCH: slight background shade on non-focus
#search input:not(:focus) {
  background-color: rgba(0, 0, 0, .05);
}

// NAVIGATION SEARCH: padding matches that of links
#search {
  padding: 0px 15px;
}

// NAVIGATION SEARCH: add padding-right on focus
#search input {
  padding-left: 4rem;

  &:focus {
    padding-right: 4rem;
    width: calc(100% - 8rem);
  }
  &:not(:focus) {
    padding-right: 1rem;
    width: calc(100% - 5rem);
  }
}



// TEXT

// TEXT: apply white-space 'nowrap'
.single_line {
  white-space: nowrap;
}

// TEXT: prevent_overflow
.prevent_overflow {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


// ELEMENTS

// PAGE HEADING: a page heading below the navigation
.container-fluid div.page_heading {
  @media #{$large-and-up} {
    background: white;
    left: 0px;
    width: 150%;
    z-index: 80;
    width: 152.5%;
    padding-left: 39%;
    padding-right: 13.33333%;
    margin-left: -39%;
    position: relative;
  }

  @media #{$medium-and-down} {
    position: relative;
    padding: 0 0.75rem;
    margin: 0 -0.75rem;
    h1, h2, h3, h4, h5, h6 {
      padding: 2.1rem 0 1.68rem 0;
      margin: 0px;
      text-align: center;
    }
  }
}

// PAGE HEADING: a page heading below the navigation > h styles
div.page_heading {
  @media #{$large-and-up} {
    h1, h2, h3, h4, h5, h6 { display: inline-block; }
  }
  @media #{$medium-and-down} {
    h1, h2, h3, h4, h5, h6 {
      padding: 2.1rem 0 1.68rem 0;
      margin: 0px;
      text-align: center;
    }
  }
}

// when fullscreen
body.fullscreen div.page_heading {
  @media #{$large-and-up} {
    position: fixed;
    background: white;
    left: 0px;
    width: 100%;
    z-index: 80;
    padding-left: 25%;
    padding-right: 8.33333%;
    margin-left: 0px;
    top: 64px;
    max-height: 120px;
    overflow-y: auto;

    h1, h2, h3, h4, h5, h6 {
      padding-left: .75rem;
      padding-right: .75rem;
    }
  }
}


// ANCHORS & LINKS

// BUTTONS

// Buttons: Button with sliding effect
a.btn.sliding,
button.btn.sliding {
  span {
    display: block;
    transition: transform .3s ease-in-out;
  }

  &:hover, &:focus {
    span {
      transform: translateY(-36px);
    }
  }

}

// BUTTONS: Hover effect on flat buttons
button.btn-flat.waves-effect:hover,
a.btn-flat.waves-effect:hover,
button.btn-flat.waves-effect:focus,
a.btn-flat.waves-effect:focus {
  background-color: color("grey", "lighten-3");
}

// BUTTONS: Creates a fake, non-clickable button
div.fake_button {
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;

  i {
    font-size: 1.3rem;
  }

  &.btn-small {
    padding: 0 1rem;
  }
}

// BUTTONS: Creates a button that looks like a link
button.as_link {
  background: none;
  border: none;
}

// BUTTONS: Small button
button.btn-small,
a.btn-small {
  padding: 0 1rem;
}

// CARDS

// CARDS: render forms as links
.card .card-action > form,
.card .card-action > div.action_wrapper > form {

  display: inline-block;
  margin-right: 20px;

  & > button {
    color: #ffab40;
    transition: color .3s ease;
    text-transform: uppercase;

    &:hover {
      color: #ffd8a6;
    }
  }
}

// CARDS: if there are wrappers around actions, make sure to treat them as
//        inline blocks
.card .card-action > div.action_wrapper {
  display: inline-block;
}

// CARDS: light border
.card .card-action.light_border {
  border-color: transparentize(color("grey", "lighten-5"), .5);
}

// FORMS

// FORMS: List of errors
form label + ul.errors {
  @extend .red-text;
  font-size: 0.8rem;
  padding-left: 10px;
  margin: 0px;
  margin-top: -15px;
  margin-bottom: 20px;
  display: block;
}

// FORMS: Displayed form errors
.form-errors {
  padding-top: 10px;
  padding-left: 20px;

  ul.errors {
    @extend .red-text;
    padding-left: 10px;
  }
}

// FORMS: List of errors when there is an icon prefix
form i.prefix ~ ul.errors {
  margin-left: 3rem;
}

// FORMS: Input (inline) buttons
form div.input-field + div.input-button {
  margin-top: 0.75rem;
  padding-top: 15px;

  // if button is full-width on small-and-down, remove the margins and paddings
  &.s12 {
    @media #{$small-and-down} {
      margin-top: 0rem;
      padding-top: 0px;
    }
  }
}

// FIXES

// FIXES: parallax has a white space on the left
.parallax-container .parallax {
  left: -1px;
}
