// SLIDING EFFECT BUTTONS
form.like_button, form.unlike_button {
  &.sliding button {
    span {
      display: block;
      transition: transform .3s ease-in-out;
    }

    &:hover, &:focus {
      span {
        transform: translateY(-36px);
      }
    }
  }
}
