form.like_button button span,
div.unlike_button a span {
  display: block;
  transition: transform .3s ease-in-out;
}

form.like_button button:hover span,
div.unlike_button a:hover span{
  transform: translateY(-36px);
}
