$profile_picture_size: ($small-and-down: 80px, $medium-and-up: 115px, $large-and-up: 150px);
$profile_banner_size: ($small-and-down: 200px, $medium-and-up: 275px, $large-and-up: 350px);

div#profile_head {

  display: block;

  div.profile_banner, div.profile_picture {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.profile_banner {
    @each $media_query, $banner_size in $profile_banner_size {
      @media #{$media_query} {
        height: $banner_size
      }
    }
  }

  div.user_meta {
    position: relative;
    top: -30px;

    div.wrapper {
      position: relative;
      margin-left: 30px;
    }

    div.profile_picture {

      position: absolute;
      border-radius: 8px;
      z-index: 99;
      max-width: 100%;
      overflow: hidden;

      @each $media_query, $picture_size in $profile_picture_size {
        @media #{$media_query} {
          width: $picture_size;
          height: $picture_size;
          top: - $picture_size / 2;
          left: - $picture_size / 2;
        }
      }

      img {
        border-radius: inherit;
        @extend .responsive-img;
        width: 100%;
        display: block;
      }
    }

    div.user_name {
      z-index: 0;
      position: absolute;
      display: inline-block;
      padding: 0px 10px;
      border-radius: 5px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;

      @each $media_query, $picture_size in $profile_picture_size {
        @media #{$media_query} {
          left: $picture_size / 2;
          top: - $picture_size / 4;
          max-width: calc(100% - #{$picture_size/2} - 40px);
        }
      }

      // resize user name text depending on screen size
      .heading {
        font-weight: 400;
        line-height: 110%;

        @media #{$small-and-down} {
          // matches h6
          font-size: 1rem;
          margin: 0.5rem 0 0.4rem 0;
        }
        @media #{$medium-and-up} {
          // matches h5
          font-size: 1.64rem;
          margin: 0.82rem 0 0.656rem 0;
        }
        @media #{$large-and-up} {
          // matches h4
          font-size: 2.28rem;
          margin: 1.14rem 0 0.912rem 0;
        }
      }
    }

    div.content {

      padding: 40px 30px 20px 100px;
      min-height: 100px;

      @media #{$small-and-down} {
        padding: 20px 20px 20px 50px;
      }

      div.actions > div {
        margin-top: 10px;
        margin-bottom: 10px;

        &:not(.col) {
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
  }

}

div.card {
  margin-left: 30px;
}

// Editing the profile
form#edit_profile {

  // Username
  div.user_name, div.user_name > div.heading { width: 100% }
  div.user_name input {
    font-size: inherit;
    border: none;
    margin: 0px;
    font-weight: 500;
    height: auto;
  }

  // Profile picture
  div.profile_picture img {
    position: absolute;
    top: 0px;
  }
  div.profile_picture input[type="file"] ~ .btn {
    position: relative;
    padding: 0 1rem;
    @each $media_query, $picture_size in $profile_picture_size {
      @media #{$media_query} {
        top: $picture_size / 2 - 18px;
      }
    }
  }

  // Profile banner
  div.profile_banner input[type="file"] ~ .btn {
    position: relative;
    @each $media_query, $banner_size in $profile_banner_size {
      @media #{$media_query} {
        top: $banner_size / 2 - 18px - 30px;
      }
    }
  }

  // Hide input fields
  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & ~ .upload, & ~ .remove { opacity: .5; }
  }

  input[type="file"]:focus + label,
  input[type="file"] ~ .btn.upload:hover,
  input[type="file"] ~ .btn.remove:hover {
    opacity: 1;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  // Do not show errors for file inputs next to label
  input[type="file"] + label + ul.errors { display: none; }
  div.form-errors { padding-bottom: 30px; }

  // Bio
  div.content > *:first-child { padding-top: 30px; }

  // Save & cancel button
  @media #{$medium-and-up} {
    div.actions .action_wrapper {
      &.save { text-align: right; }
      &.cancel { text-align: left; }
    }
  }
}
