div#desktop_side_navigation, ul#mobile_navigation {

  div.head {

    $back_button_height: 36px;

    a.title {
      color: white;
      position: relative;top: -48px;
      background-color: rgba(0,0,0,.5);
      color: white;
      font-weight: bold;
      margin-bottom: -48px;
    }

    a.title:hover, a.title:focus,
    a.back:hover, a.back:focus {
      background-color: rgba(0,0,0,0.8);
    }

    a.back + img {
      position: relative;
      top: - $back_button_height;
      margin-bottom: - $back_button_height;
    }

    a.back {
      position: relative;
      background-color: #01000299;
      color: white;
      height: $back_button_height;
      padding: 0px 32px;
      line-height: $back_button_height;
      z-index: 2;
      display: block;
    }

    a.back i {
      line-height: $back_button_height;
      height: $back_button_height;
      margin-right: 16px;
      float: left;
    }

    // needs to be block, otherwise there is spacing on the bottom
    img {
      display: block;
    }

  }

  div.content, div.head {

    p {
      color: rgba(0,0,0,0.54);
      font-size: 14px;
      font-weight: 500;
      line-height: 48px;
      padding: 0 32px;
      margin: 0px;
    }

    a {
      color: rgba(0,0,0,0.87);
      display: block;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
    }

    a:hover, a:focus {
      background-color: rgba(0,0,0,0.05);
    }

    a.active {
      background: $primary-color;
      color: white;
    }

  }

}
